<dsc-modal [Id]="idCreate" [Title]="'Agregar registro'">
    <app-employee-create />
</dsc-modal>
<dsc-modal [Id]="idUpdate" [Title]="'Actualizar registro'">
    <app-employee-update />
</dsc-modal>
<dsc-modal [Id]="idDelete" [Title]="'Eliminar registro'">
    <app-employee-delete />
</dsc-modal>

<div class="dsc-listview">
    <header>
        <h1>Lista de Empleados</h1>
        
        <div class="options">
            <button (click)="OnClickCreate()">Agregar</button>
        </div>
        <div class="filter">
            <input #searchValue type="text" />
            <button (click)="OnSearch('search')">Buscar</button>
            <button (click)="OnSearch('search-all')">Todo</button>
        </div>
    </header>
    <div class="body">
        <div class="list">
        <table>
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>EmployeeID</th>
                    <th>CompanyName</th>
                    <th>PersonName</th>
                    <th>EmployeeDateEntry</th>
                    <th>EmployeeDateExit</th>
                    <th>EmployeeReason</th>
                    <th>EmployeeActive</th>
                    <th>panel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="Data().length==0">
                    <td colspan="6">No existen registros</td>
                </tr>
                <tr *ngFor="let item of Data(); trackBy:readID">
                        <td><img src="{{Host + item.PersonPhoto + '?search=' + math.floor(math.random() * 1000)}}" alt="" width="50px" /></td>
                        <td>{{item.EmployeeID}}</td>
                        <td>{{item.CompanyName}}</td>
                        <td>{{item.PersonName + ' ' + item.PersonSurname}}</td>
                        <td>{{item.EmployeeDateEntry}}</td>
                        <td>{{item.EmployeeDateExit}}</td>
                        <td>{{item.EmployeeReason}}</td>
                        <td><input type="checkbox" [checked]="item.EmployeeActive" onclick="return false" /></td>
                        <td>
                            <button (click)="openModalUpdate(item)">Editar</button>
                            <button (click)="openModalDelete(item)">Eliminar</button></td>
                        </tr>
            </tbody>
            <tfoot>
                <div class="paginacion-contenedor">
                    <ul>
                        <li>
                            <select [(ngModel)]="filterPaginateQuantity" (change)="OnPaginateQuantity()">
                                <option value="5" selected>5 registros</option>
                                <option value="50">50 registros</option>
                                <option value="100">100 registros</option>
                                <option value="250">250 registros</option>
                                <option value="500">500 registros</option>
                            </select>
                        </li>
                        <li class="previous"><button (click)="OnPaginate(-1)" [disabled]="!DataPagination().Previous" >Previous</button></li>
                        <li class="information"><strong>{{DataPagination().Page}}</strong><span> de </span><aside>{{DataPagination().Pages}}</aside></li>
                        <li class="next"><button (click)="OnPaginate(1)" [disabled]="!DataPagination().Next">Next</button></li>
                    </ul>
                  </div>
            </tfoot>
        </table>
        </div>
    </div>
    
    <footer>

    </footer>
</div>

