
<dsc-calendar #PersonDateOfBirth [Date]="PersonDateOfBirthControl.value" [IsModal]="true" (Change)="OnPersonDateOfBirth($event)" />

<form class="dsc-form" [formGroup]="formGroup" (submit)="OnSubmit()">
    <header>
        <h1>Persona </h1>
    </header>
   
    
    <div class="section">
        <div class="title">
            <label>PersonID</label>
        </div>
        <div class="control">
            <input type="text" formControlName="PersonID" />
        </div>
        <div class="validation">
            <div *ngIf="PersonIDControl?.errors && (PersonIDControl?.dirty || PersonIDControl?.touched)">
                <div *ngIf="PersonIDControl?.hasError('required')">Required</div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="title">
            <label>ProvinceID</label>
        </div>
        <div class="control">
            <select formControlName="ProvinceID">
                <option *ngFor="let item of DataProvince()" value="{{item.ProvinceID}}">{{item.ProvinceName}}</option>
            </select>
        </div>
        <div class="validation">
            <div *ngIf="ProvinceIDControl?.errors && (ProvinceIDControl?.dirty || ProvinceIDControl?.touched)">
                <div *ngIf="ProvinceIDControl?.hasError('required')">Required</div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="title">
            <label>CityID</label>
        </div>
        <div class="control">
            <select formControlName="CityID">
                <option *ngFor="let item of DataCity()" value="{{item.CityID}}">{{item.CityName}}</option>
            </select>
        </div>
        <div class="validation">
            <div *ngIf="CityIDControl?.errors && (CityIDControl?.dirty || CityIDControl?.touched)">
                <div *ngIf="CityIDControl?.hasError('required')">Required</div>
            </div>
        </div>
    </div>
    
        <div class="section">
            <div class="title">
                <label>PersonName</label>
            </div>
            <div class="control">
                <input type="text" formControlName="PersonName" />
            </div>
            <div class="validation">
                <div *ngIf="PersonNameControl?.errors && (PersonNameControl?.dirty || PersonNameControl?.touched)">
                    <div *ngIf="PersonNameControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>PersonEmail</label>
            </div>
            <div class="control">
                <input type="text" formControlName="PersonEmail" />
            </div>
            <div class="validation">
                <div *ngIf="PersonEmailControl?.errors && (PersonEmailControl?.dirty || PersonEmailControl?.touched)">
                    <div *ngIf="PersonEmailControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>PersonSurname</label>
            </div>
            <div class="control">
                <input type="text" formControlName="PersonSurname" />
            </div>
            <div class="validation">
                <div *ngIf="PersonSurnameControl?.errors && (PersonSurnameControl?.dirty || PersonSurnameControl?.touched)">
                    <div *ngIf="PersonSurnameControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>PersonDateOfBirth</label>
            </div>
            <div class="control">
                <input type="text" formControlName="PersonDateOfBirth" />
                <img src="../../../../../assets/image/dsc/date.png" alt="" (click)="OnModalPersonDateOfBirthOpen()" />
            </div>
            <div class="validation">
                <div *ngIf="PersonDateOfBirthControl?.errors && (PersonDateOfBirthControl?.dirty || PersonDateOfBirthControl?.touched)">
                    <div *ngIf="PersonDateOfBirthControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>PersonPhone</label>
            </div>
            <div class="control">
                <input type="text" formControlName="PersonPhone" />
            </div>
            <div class="validation">
                <div *ngIf="PersonPhoneControl?.errors && (PersonPhoneControl?.dirty || PersonPhoneControl?.touched)">
                    <div *ngIf="PersonPhoneControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>MaritalStatusID</label>
            </div>
            <div class="control">
                <select formControlName="MaritalStatusID">
                    <option *ngFor="let item of DataMaritalStatus()" value="{{item.MaritalStatusID}}">{{item.MaritalStatusDescription}}</option>
                </select>
            </div>
            <div class="validation">
                <div *ngIf="MaritalStatusIDControl?.errors && (MaritalStatusIDControl?.dirty || MaritalStatusIDControl?.touched)">
                    <div *ngIf="MaritalStatusIDControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>GenderID</label>
            </div>
            <div class="control">
                <select formControlName="GenderID">
                    <option *ngFor="let item of DataGender()" value="{{item.GenderID}}">{{item.GenderDescription}}</option>
                </select>
            </div>
            <div class="validation">
                <div *ngIf="GenderIDControl?.errors && (GenderIDControl?.dirty || GenderIDControl?.touched)">
                    <div *ngIf="GenderIDControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <label>PersonActive</label>
            </div>
            <div class="control">
                <input type="checkbox" formControlName="PersonActive" />
            </div>
            <div class="validation">
                <div *ngIf="PersonActiveControl?.errors && (PersonActiveControl?.dirty || PersonActiveControl?.touched)">
                    <div *ngIf="PersonActiveControl?.hasError('required')">Required</div>
                </div>
            </div>
        </div>
     
    <footer>
        <input type="submit" class="dsc-btn btn-green" [disabled]="!formGroup.valid" value="Guardar" />
    </footer>
</form>

